body{
    width: 100%;
    height: 200vh;
}
.carousel{
    width: 100%;
    height: 80vh;
}
.carousel-item{
    height: 200vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.bottom-text{
    display: block;
    position: absolute;
    margin-top:200px;
    z-index: 10;
}